<!DOCTYPE html>
<html lang="en">

<head>
    <!-- TODO: Check if we need a minimal footer rather than the full thing -->

    <%- include('../partials/head'); %>
        <%- include('../partials/socket'); %>
            <%- include('../partials/meta'); %>
                <style>
                    .active-row {
                        font-size: x-large;
                    }

                    tr:not(.active-row):not(.header-row) {
                        opacity: 50%;
                    }

                    .header-row {
                        background-color: #EEE;
                    }

                    .supporting-text {
                        color: gray;
                        font-size: small;
                    }

                    .alert-area {
                        margin: 10px 0;
                    }
                </style>

      <!-- Custom styles for this template -->
      <link href="css/one-page-wonder.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="alert-area">
            <%- alertsHtml %>
        </div>
        <h4 class="display-4">
            <%= name %>
                <%= schoolName? "-" : "" %> <%= schoolName %>
        </h4>
        <!-- Only updated year -->
        <h4 class="lead"> 2024 Junior High Math Contest <%= divisionText %>
        </h4>
        <table class="table table-hover">
            <tr class="header-row">
                <th>Contest Window</th>
                <th>Event</th>
                <!-- <th>&nbsp;</th> --> <!-- Zoom Link -->
                <th style="text-align: center;">&nbsp;</th> <!-- Contest Link -->
            </tr>

            <% for (var i=0; i < rooms.length; i++) { %>
                <tr class="<%= rooms[i].active ? " active-row" : "" %>">
                    <td opentimetext="<%= rooms[i].openTimeText %>">
                        <%= rooms[i].openTimeText %> CT - <br/ > <%= rooms[i].closeTimeText %> CT
                    </td>
                    <td>
                        <%= rooms[i].name %> <br>
                            <span class="supporting-text">
                                <%= rooms[i].subtext %>
                            </span>
                    </td>
                    <!-- <td>
                        <% if (rooms[i].zoomLink) { %>
                            <button class="btn btn-primary" onclick="window.open('<%= rooms[i].zoomLink %>','_blank')"
                                <%=rooms[i].active ? "" : "disabled" %>>Join Zoom Meeting</button>
                            <% } %>
                    </td> -->
                    <td>
                        <% if (rooms[i].testLink) { %>
                            <button class="btn btn-dark" style="display:block;margin:auto;"
                                onclick=" window.open('<%= rooms[i].testLink %>','_blank')" <%=rooms[i].active ? ""
                                : "disabled" %>>Join Contest</button>
                            <% } else if (rooms[i].teamTest==true) { %>
                                <p class="supporting-text"
                                    style="min-width: 180px; max-width: 20%; text-align: center; margin: auto;">
                                    <%= rooms[i].students[0] %> is your team captain and can join the test.
                                </p>
                                <% }%>
                    </td>
                </tr>
                <% } %>
        </table>
        <p>
            <% if (name=="Coaches" || name=="Parents" ) { %>
                Have a question? Join the <a href="<%= helpLink %>">JHMC help room</a>.
                <% } else { %>
                    Having a problem? First try <a href="javascript:window.location.reload(true);">reloading this
                        page.</a> <!-- (irrelevant rn) and contacting your proctor -->
                    If the problem persists, please email <a href="mailto:vsenthilvenkatesh@imsa.edu">vsenthilvenkatesh@imsa.edu</a>.
                    <% } %>
        </p>

    </div>

    <script>

    </script>
</body>

</html>
