<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <script>
            MathJax = {
                tex: {
                    inlineMath: [['$', '$'], ['\\(', '\\)']]
                },
                svg: {
                    fontCache: 'global'
                }
            };
        </script>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron">
                    <h1>
                        <%= competition %> Test
                    </h1>
                    <p>You have <%= durationText %> to complete this test</p>
                    <p>
                        You will see only one question at a time. You will not be able to go back to an old question.
                        Calculators are allowed.
                    </p>
                    <div id="infoDiv" style="display: none;">
                        <hr>
                        <h2 id='infoTitle'>Test Completed</h2>
                    </div>
                    <button type="button" id="beginTestButton" class="btn btn-dark btn-lg">
                        <%= beginButtonText %>
                    </button>
                    <div id="loadingSpinner" class="spinner-border" style="width: 2rem; height: 2rem;display: none;"
                        role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div id="questionDiv" style="display:none;">
                        <hr>

                        <h2 id='questionTitle'>Question 1</h2>
                        <p id='questionText'>
                            When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are
                            \[x = {-b \pm \sqrt{b^2-4ac} \over 2a}.\]
                        </p>
                        <div class="input-group mb-3">
                            <input type="text" id="answer" class="form-control" placeholder="Your Answer"
                                aria-label="Recipient's username" aria-describedby="next-button">
                            <button class="btn btn-outline-dark" type="button" id="next-button" data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                title="Remember, you will not be able to come back to this question">
                                Next →</button>
                        </div>
                        <div id="answerHelp" class="form-text" style="display:block;">Answers must be exact. Do not round.</div>
                    </div>
                </div>
                <div class="progress">
                    <div id="question-progress-bar" style="width: 0%" class="progress-bar" role="progressbar"
                        aria-valuenow="1" aria-valuemin="0" aria-valuemax="10"></div>
                </div>
                <br>
            </div>

            <!-- <div class="col-sm-3">
                <div class="well">
                    <h3>Time Remaining</h3>
                </div>
            </div> -->

        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <script>
        var recordId = '<%- recordId %>';
        var competitionId = '<%- competitionId %>';
        var competitionCode = '<%- competitionCode %>';
        var numberOfQuestions = '<%- numberOfQuestions %>';
        var questionOnOpen = '<%- currentQuestion %>';
        var available = '<%- available %>';

        $(document).ready(() => {
            $("#question-progress-bar").attr("aria-valuemax", numberOfQuestions);
            $("#question-progress-bar").css("width", 100 * parseInt(questionOnOpen) / numberOfQuestions + "%");

            if (available !== "true") {
                loading(false);
                $("#questionDiv").hide();
                $("#infoDiv").show();
                $('#infoTitle').text(available);
                $("#beginTestButton").attr("disabled", "true");
            } else if (questionOnOpen === numberOfQuestions) {
                finished();
            }

            $("#beginTestButton").click(() => {
                $("#beginTestButton").hide();

                loading();
                $.ajax({
                    type: 'POST',
                    url: "/test/endpoint/" + recordId,
                    async: true,
                    data:
                        JSON.stringify({
                            action: "begin",
                            competitionCode: competitionCode,
                        }),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) { displayQuestion(data) },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(thrownError);
                    }
                });


            });

            $("#next-button").click(() => {
                $("#questionDiv").hide();
                loading();
                $.ajax({
                    type: 'POST',
                    url: "/test/endpoint/" + recordId,
                    async: true,
                    data:
                        JSON.stringify({
                            action: "nextQuestion",
                            competitionCode: competitionCode,
                            answer: $("#answer").val()
                        }),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        displayQuestion(data);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(thrownError);
                    }
                });
            })

            // TODO: Toast with 5 minutes remaining
            // TODO: Certify you are the person taking the test w/ modal before beginning
            // TODO: Close window button when completed
        });

        var displayQuestion = obj => {
            if (obj == "FINISHED") {
                finished();
                return;
            } else if (obj == "TIMEOUT") {
                location.reload();
            }
            console.log(obj);
            $("#answer").val("");
            $("#questionTitle").text("Question " + parseInt(obj.index + 1));
            let node = $("#questionText")[0];
            MathJax.typesetClear([node]);
            node.innerHTML = obj.text;
            MathJax.typesetPromise([node]).then(() => {
                // the new content is has been typeset
                $("#questionDiv").show();
                loading(false);
            });
            $("#question-progress-bar").css("width", 100 * parseInt(obj.index) / numberOfQuestions + "%");
            $("#question-progress-bar").attr("aria-valuenow", parseInt(obj.index));
        }

        var loading = (go) => {
            if (go === false) {
                $("#loadingSpinner").hide();
            } else {
                $("#loadingSpinner").show();
            }
        }

        var finished = () => {
            loading(false);
            $("#beginTestButton").hide();
            $("#questionDiv").hide();
            $("#infoDiv").show();
            $("#question-progress-bar").css("width", "100%");
            $("#question-progress-bar").attr("aria-valuenow", numberOfQuestions);
        }

        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
</body>

</html>